@import "../../../css/mediaqueries.css";

.title {
  color: var(--color-main);
  text-align: center;
}

.heading {
  margin: 0;
  padding: 20px;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  padding: 18px 15px;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  transition: right .2s ease-in-out 0s;
  z-index: 50;
  &:focus {
    outline: -webkit-focus-ring-color;
  }
  &.open {
    & .burgar {
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
    & .patty {
      &::before,
      &::after {
        background-color: var(--color-white);
      }
      &::before {
        transform: translateY(0) rotate(45deg);
      }
      &::after {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}

.burgar {
  display: block;
  width: 20px;
  border-top: 2px solid var(--color-main);
  border-bottom: 2px solid var(--color-main);
  transition: all .2s;
}

.patty {
  position: relative;
  display: block;
  margin: 4px 0;
  height: 2px;
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-main);
    content: '';
    transition: all .4s ease;
    transition-delay: 0s;
    transform: translateY(0) rotate(180deg);
  }
}

.nav {
  position: fixed;
  top: 0;
  left: -74.67%;
  left: calc(-100% + 95px);
  width: 74.67%;
  width: calc(100% - 95px);
  background-color: var(--color-white);
  transition: left .2s ease-in-out 0s;
  height: 100%;
  z-index: 10;
  &.open {
    left: 0;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: color(#F4C51E alpha(.2));
  & > li {
    & > a {
      display: block;
      padding: 16px 40px;
      color: var(--color-main);
      font-weight: bold;
      &.current,
      &:hover {
        background-color: var(--color-main);
        color: var(--color-white);
      }
    }
  }
}

.overlay {
  position: fixed;
  width: 120%;
  height: 160%;
  background-color: rgba(0,0,0,.4);
  top: -30%;
  left: -10%;
  z-index: 3;
  cursor: pointer;
}

/*---------------------------------------------
* PC
---------------------------------------------*/
@media (--viewport-tablet) {

  .title {
    padding-bottom: 51px;
    position: relative;
  }

  .drawer {
    display: none;
  }

  .nav {
    position: absolute;
    top: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: none;
    &.fixed {
      position: fixed;
      top: 0;
      bottom: inherit;
      left: 0;
      width: 100%;
    }
  }

  .list {
    display: flex;
    justify-content: center;
    & > li {
      flex: 0 0 auto;
    }
  }

}
