@charset "utf-8";

:fullscreen a {
  display: flex
}

.bg {
  background-color: $CLR_MAIN;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

/*---------------------------------------------
* PC
---------------------------------------------*/
@media screen and (min-width: $WIDTH_PC) {

  . {
  }

}


/*---------------------------------------------
* SP
---------------------------------------------*/
@media screen and (max-width: $WIDTH_SP) {

  . {
  }

}
