@charset "utf-8";

@import "./css/foundation/_variable.css";

:fullscreen a {
  display: flex
}

.title {
  color: $CLR_MAIN;
  text-align: center;
}

/*---------------------------------------------
* PC
---------------------------------------------*/
@media screen and (min-width: $WIDTH_PC) {

  . {
  }

}


/*---------------------------------------------
* SP
---------------------------------------------*/
@media screen and (max-width: $WIDTH_SP) {

  . {
  }

}
